---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { dateRange } from "@lib/utils";
import { SITE, HOME, SOCIALS } from "@consts";

const blog = (await getCollection("blog"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0,SITE.NUM_POSTS_ON_HOMEPAGE);

---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h4 class="animate font-semibold text-black dark:text-white">
      A Major Update<span class="text-xl">⚔️</span> 
    </h4>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <p class="animate">
          TL;DR - Bublr is going down for a couple of weeks, userdata such as profiles and blogs will be completey erased by January of 2025.
          </p>
          <p class="animate">
            Bublr will be going through a lot of restructering and during this time, will be offline. This wasn't a very easy 
            decision to take but there were many technical and legal problems that just couldn't be easily solved. We tried everything
            to avoid this outcome but unfortunatly, we have no choice but to pull the plug until we come back, stronger and better.
          </p>
          <p class="animate">
            During this time, we will be looking to raise funds and build a great team that can support us in this journey. While we cannot say how long this may take or what the outcome would be,
            but we give a word: we will not back down until we can make the greatest comeback in the history of comebacks. 
          </p>
          <p class="animate">
            To all who used our platform, we thank you from the bottom of our team, bublr isn't what it is w/o it's community and we dearly appreciate you all!
          </p>
          <p class="animate">
            P.S. We give all glory to our Lord and Saviour, Jesus Christ! Couldn't have done it w/o him! After all, he is the way, the truth, and the life!
          </p>
        </article>
      </section>


      <section class="animate space-y-4">
        <h5 class="font-semibold text-black dark:text-white">
          Data Migration / Investors
        </h5>
        <article>
          <p>
            If you want your blog posts back, please email me [at] solomon@bublr.life. If you're an investor interested in helping us out, please contact us at the same email.
          </p>
        </article>
        <ul class="flex flex-wrap gap-2">
          {SOCIALS.map(SOCIAL => (
            <li class="flex gap-x-2 text-nowrap">
              <Link href={SOCIAL.HREF} external aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}>
                {SOCIAL.NAME}
              </Link>
              {"/"}
            </li>
          ))}
          <li class="line-clamp-1">
            <Link href={`mailto:${SITE.EMAIL}`} aria-label={`Email ${SITE.NAME}`}>
              {SITE.EMAIL}
            </Link>
          </li>
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
